/* COLORS */
$sectionBgColor: hsl(47, 88%, 63%);
$cardBgColor: hsl(0, 0%, 100%);
$lightGray: hsl(0, 0%, 42%);
$darkGray: hsl(0, 0%, 7%);

/* FONT VARIABLES */
$titleFontSize: 2.4rem;
$defaultFontSize: 1.6rem;
$smallFontSize: 1.4rem;
$defaultLineHeight: 1.5;
$defaultFontFamily: "Figtree", sans-serif;
$normalFontWeight: 500;
$boldFontWeight: 800;
$defaultLetterSpacing: 0;

/* SPACING SYSTEM */
$bigSpacing: 1.6rem;
$mediumSpacing: 1.2rem;
$normalSpacing: 0.8rem;
$smallSpacing: 0.4rem;
$cardBorderRadius: 2rem;
$cardImgBorderRadius: 1rem;
$cardTagBorderRadius: 0.4rem;
